body {
    margin: 0;
    font-family: "Cairo", sans-serif;
}

#barracinza {
    background-color: #f5f5f5;
    height: 47px;
    align-content: center;
    padding-left: 17.5%;
    display: flex;
    font-size: 14px;
}

ul {
    display: flex;
    list-style: none;
    line-height: 1;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #7fad39;
}

#envelope {
    padding-right: 22px;
}

#Vertical {
    font-size: 20px;
    line-height: 15px;
    color: #d3d1d1;
    font-weight: 100;
    padding-right: 22px;
}

#social {
    line-height: 42px;
    padding-left: 430px;
    display: flex;
}

#facebook {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#twitter {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#linkedin {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#pinterest {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

.Vertical2 {
    font-size: 20px;
    line-height: 40px;
    color: #d3d1d1;
    font-weight: 100;
    padding-right: 22px;
    padding-left: 12px;
}

#Linguagem {
    display: inline-flex;
    line-height: 45px;

}

#bandeira {
    padding-right: 12px;
}

#baixo {
    padding-left: 8px;
    font-size: 12px;
}

#Linguagem:hover {
    cursor: pointer;
    transition: 1s;
}

#torso {
    line-height: 42px;
    font-size: 13px;
    padding-right: 12px;
}

#Login {
    line-height: 44px;
}

#espaço {
    width: 20%;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 70%;
    right: 80%;
}

#Linguagem:hover #dropdown-content {
    display: block;
    color: white;
    background-color: black;
}

#main {
    display: grid;
    width: 100%;
    height: 20vh;
    grid-template-columns: 1.5fr 1.3fr 1.4fr 1fr 1.3fr 1.3fr;
    grid-template-rows: 80px 80px 431px 300px;

}

#sub {
    padding-top: 18px;
    display: flex;
    line-height: 3;
    grid-column: 2/6;
}

.paginas {
    font-weight: bold;
}

.paginas:hover {
    color: #7fad39;
    cursor: pointer;
}

#paginas {
    display: flex;
    width: 45%;
    grid-column: 3/4;
}

#home {
    margin-right: 5%;
}

#shop {
    margin-left: 5%;
    margin-right: 5%;
}

#pages {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

#pages:hover {
    color: #7fad39;
}

.detalhes {
    transition: .3s;
}

.detalhes:hover {
    color: #7fad39;
}

#drop {
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    opacity: 0;
    padding: 0;
    z-index: -99;
    list-style: none;
    width: 340%;
    height: 120px;
    transition: .3s;
    top: 50px;
    padding: 5px 15px;
    font-weight: 500;
    line-height: 1.8;
}

#pages:hover #drop {
    opacity: 1;
    z-index: 21;
    top: 20px;
}

#blog {
    margin-left: 5%;
    margin-right: 5%;
}

#contact {
    margin-left: 5%;
    margin-right: 5%;
}

#espaço2 {
    width: 300px;
}

#heart {
    display: flex;
    height: 40px;
    line-height: 3;
    padding-right: 12px;
}

#salvo {
    line-height: 1;
    margin-top: 30%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #7fad39;
    height: 15px;
    width: 15px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

#coracao {
    font-size: 18px;
}

#bag {
    display: flex;
    height: 40px;
    line-height: 3;
    padding-right: 12px;
}

#salvo2 {
    line-height: 1;
    margin-top: 30%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #7fad39;
    height: 15px;
    width: 15px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

#saco {
    font-size: 18px;
}

#valor1 {
    display: flex;
}

#valor {
    font-weight: bold;
}

#menuV {
    background-color: #7fad39;
    width: 79%;
    height: 50px;
    color: white;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2/4;
    align-content: center;
}

#baixo2 {
    font-size: 12px;
}

#espaço3 {
    width: 17%;
}

#menuVerde {
    position: relative;
}

#barra {
    padding-right: 6%;
}

#visivelLat {
    padding-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
}

#menuInv {
    position: absolute;
    border: rgba(170, 167, 167, 0.726) 1px solid;
    line-height: 2.4;
    height: 425px;
    width: 89.5%;
    padding-left: 10%;
    color: black;
    font-weight: 600;
    z-index: -99;
    top: 1px;
    opacity: 0;
    transition: .4s;
}

#sobe {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border: solid;
    opacity: 0;

}

#sobe:hover {
    cursor: pointer;
}

#sobe:checked~#menuInv {
    opacity: 1;
    z-index: 99;
    top: 95%;
    background-color: white;
}

#menuVerde:hover {
    cursor: pointer;
}

#barraPesquisa {
    padding-left: 3%;
    width: 590px;
    height: 65%;
    grid-column: 3/5;
    display: flex;
    align-items: center;
    border: solid 1px rgba(82, 82, 82, 0.151);
}

.bold {
    font-weight: bold;
    color: black;
}

#All {
    font-size: 16px;
    padding-right: 6.05%;
}

#baixo3 {
    font-size: 10px;
}

#busca {
    height: 40px;
    width: 308.7px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-family: "Cairo", sans-serif;
    outline: none;
    color: #b6b3b3;
}

#btn {
    background-color: #7fad39;
    width: 100px;
    height: 55px;
    color: white;
    text-align: center;
    align-content: center;
}

#btn a {
    color: white;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
}

#telefone {
    grid-column: 5;
    margin-left: 30%;
    background-color: #e6e3e3;
    width: 17%;
    height: 70%;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    color: #7fad39;
}

#numero {
    display: flex;
}

#num {
    margin-left: 6%;
}

#fosco {
    font-size: 14px;
    color: #4b4a4a;
}

#numeroemsi {
    font-size: 18px;
    font-weight: 900;
}

#Tomate {
    background-image: url(img/breadcrumb.jpg);
    height: 150px;
    align-content: center;
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

#Organi {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

#Tomate span {
    color: white;
}

#superior {
    display: grid;
    grid-template-columns: 1.5fr 1.4fr 1.4fr 1.4fr 1.3fr 1.5fr;
    grid-template-rows: 50px 450px 80px;
}

#department {
    font-weight: 900;
    grid-column: 2;
    font-size: 24px;
}

#off {
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}

#tracinho {
    background-color: #7fad39;
    height: .5vh;
    width: 38%;
}

#lista {
    grid-column: 2;
    align-content: start;
}

#lista ul {
    display: block;
    line-height: 2.5;
    text-align: left;
    padding: 0;
}

#espVer {
    height: 60%;
}

#desconto {
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

#Dried {
    color: #c4c0c0;
}

#Raisin {
    font-size: 18px;
}

#Traçado {
    text-decoration: line-through;
    color: #c4c0c0;
    font-weight: 600;
    font-size: 15px;
}

#trinta {
    font-size: 18px;
}

#produto01 {
    margin-top: 40px;
    background-image: url(img/cat-4.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
    margin-right: 20%;
    margin-bottom: 50px;
    grid-column: 3;
    position: relative;
}

#produto01:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}

#produto02 {
    margin-top: 40px;
    background-image: url(img/feature-7.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
    margin-right: 20%;
    margin-bottom: 50px;
    grid-column: 4;
    position: relative;
}

#produto02:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}

#produto03 {
    margin-top: 40px;
    background-image: url(img/feature-6.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
    margin-right: 20%;
    margin-bottom: 50px;
    grid-column: 5;
    position: relative;
}

#produto03:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}

.hoverGira {
    position: absolute;
    top: 95%;
    z-index: -99;
    transition: .4s;
    opacity: 0;
}

.hoverGira li {
    background-color: aliceblue;
    margin-left: 17px;
    height: 35px;
    width: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    align-content: center;
}

.hoverGira li:hover {
    background-color: #7fad39;
    color: white;
    cursor: pointer;
}

.hoverGira li:hover i {
    transform: rotate(360deg);
}

.hoverGira li i {
    transition: .3s;
}

#bolas {
    grid-column: 4;
    grid-row: 3;
    display: flex;
    margin-left: 33%;
}

#bola1 {
    border-radius: 50%;
    border: solid 1px#c4c0c0;
    height: 12px;
    width: 12px;
    margin-right: 12px;
    background-color: #b6b3b3;
}

#bola2 {
    border-radius: 50%;
    border: solid 1px #c4c0c0;
    height: 12px;
    width: 12px;
}

#traco {
    grid-column: 3/6;
    background-color: #c4c0c0;
    height: .2vh;
    margin-top: 30px;
}

#Precao {
    grid-column: 2;
    grid-row: 3;
}

#Price {
    font-size: 24px;
}

#seletor {
    width: 280px;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #ec2d2d;
    height: 15px;

}

input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #ffffff;
    z-index: 15;
    border-radius: 50%;
    margin: 0;
}

#verm {
    color: rgb(214, 6, 6);
    font-weight: 800;
}

#inferior {
    display: grid;
    grid-template-columns: 1.5fr 1.4fr 1.4fr 1.4fr 1.3fr 1.5fr;
    grid-template-rows: 120px 120px 130px 130px 130px;
    height: 190vh;
}

#Colors {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;

}

.bola {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#paleta {
    margin-top: 10px;
}

#w {
    background-color: white;
}

#G {
    background-color: rgb(247, 204, 12);
}

#R {
    background-color: red;
}

#B {
    background-color: black;
    margin-left: 22.5px;
}

#BL {
    background-color: blue;
}

#Gre {
    background-color: green;
    margin-left: 19px;
}

#linha1 {
    display: flex;
    line-height: 1;
}

#linha2 {
    display: flex;
    line-height: 1;
}

#linha3 {
    display: flex;
    line-height: 1;
}

.textoCor {
    font-weight: 500;
    font-size: 14px;
}

#Popular {
    grid-column: 2;
    grid-row: 2;
    margin-top: 40px;
}

#TextPop {
    font-size: 24px;
}

.size {
    background-color: #f0ecec;
    font-size: 12px;
    color: #616060;
}

.size:hover {
    cursor: pointer;
}

#linha01 {
    display: flex;
}

#linha02 {
    display: flex;
    margin-top: 10px;
}

#Large {
    margin-right: 15px;
    width: 90px;
    height: 30px;
    align-content: center;
    text-align: center;
}

#Medio {
    width: 90px;
    height: 30px;
    align-content: center;
    text-align: center;
}

#Small {
    margin-right: 15px;
    width: 90px;
    height: 30px;
    align-content: center;
    text-align: center;
}

#Tiny {
    width: 70px;
    height: 30px;
    align-content: center;
    text-align: center;
}

#Latest {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    width: 350px;
}

#latest {
    font-size: 24px;
    font-weight: 900;
    margin-right: 25%;
}

#alface {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    width: 350px;
}

#pimentao {
    grid-column: 2;

    display: flex;
    width: 350px;
}

#coxa {
    grid-column: 2;

    display: flex;
    width: 350px;
}

#setaEsq {
    border: solid 1px lightgray;
    width: 28px;
    height: 28px;
    align-content: center;
    text-align: center;
    line-height: 1;
    margin-right: 10px;
    font-size: 12px;
}

#setaDir {
    border: solid 1px lightgray;
    width: 28px;
    height: 28px;
    align-content: center;
    text-align: center;
    line-height: 1;
    font-size: 12px;
}
#subGrid{
    margin-top: 30px;
    grid-column: 3/6;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 400px 400px 400px 400px;
}
#Sort{
    grid-column: 1;
    grid-row: 1;
    display: flex;
}
#Default{
    position: relative;
}
#dropDef{
    display: block;
    padding: 0;
    background-color: #e0dede;
    width: 100px;
    height: 50px;
    align-content: center;
    text-align: center;
    transition: .2s;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    bottom: 350px;
    right: 2px;
}
#dropDef li{
    margin-bottom: 8px;
}
#Depo{
    position: absolute;
    top: 7px;
    left: .5%;
    width: 75px;
    opacity: 0;
    z-index: 99 ;
}
#Depo:hover{
    cursor: pointer;
}
#Depo:checked~#dropDef{
    opacity: 1;
    z-index: 99;
    bottom: 300px;
}
#setaB{
    transition: .2s;
}
#Depo:checked~#setaB{
    transform: rotate(180deg);
}
#Tc{
    color:#d3d1d1;
}
svg{
    height: 24px;
    transition: 1s;
    margin-right: 15px;
}
svg:hover{
    fill: #7fad39;
    cursor: pointer;
}
#icones{
    text-align: end;
}
#produto001 {
    background-image: url(img/cat-5.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 2;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
.hoverGira {
    position: absolute;
    top: 98%;
    z-index: -99;
    transition: .4s;
    opacity: 0;
}

#produto001:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}

.hoverGira li {
    background-color: aliceblue;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    align-content: center;

}
#produto002:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto002 {
    background-image: url(img/feature-2.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 2;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto003:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto003 {
    background-image: url(img/feature-3.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 2;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto004:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto004 {
    background-image: url(img/feature-5.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 3;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto005:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto005 {
    background-image: url(img/feature-6.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 3;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto006:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto006 {
    background-image: url(img/feature-7.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 3;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto007:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto007 {
    background-image: url(img/product-7.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 4;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto008:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto008 {
    background-image: url(img/product-8.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 4;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto009:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto009 {
    background-image: url(img/product-9.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 4;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto010:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto010 {
    background-image: url(img/product-10.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 5;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto011:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto011 {
    background-image: url(img/product-11.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 5;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto012:hover .hoverGira {
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto012 {
    background-image: url(img/product-12.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    grid-row: 5;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#nums{
    padding-left: 36%;
    margin-bottom: 80px;
    display: flex;
}
#nums>div{
    border: solid 1px lightgray;
    width: 30px;
    margin-left: 20px;
    text-align: center;
    color: #b6b3b3;
    transition: .3s;
}
#nums>div:hover{
   cursor: pointer; 
   background-color: #7fad39;
   color: white;
}

#Rodapé {
    height: 40vh;
    background-color: #e9e5e5;
    display: grid;
    grid-template-columns: 1.5fr 1.2fr 1.2fr 1.3fr 1.2fr;
    grid-template-rows: 30vh .2vh 4.8vh;
}

#Endereço {
    margin-left: 19%;
    padding-top: 60px;
    grid-column: 2;
}

#UsefulLinks {
    padding-top: 60px;
    margin-left: 9%;
    display: flex;
    font-size: 14px;
    line-height: 2.2;
}

#colunaDir {
    margin-left: 30px;
    padding-top: 28px;
}

#colunaEsq span:hover {
    cursor: pointer;
}

#colunaDir span:hover {
    cursor: pointer;
}

#JoinNews {
    margin-left: 7%;
    padding-top: 60px;
    width: 400px;
}

#get {
    font-size: 14px;
}

#Enter {
    height: 40px;
    width: 220px;
    border: none;
    padding-left: 5%;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    outline: none;
}

#btnRoda {
    background-color: #7fad39;
    border: none;
    color: white;
    height: 45px;
    width: 108px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}

#btnRoda:hover {
    cursor: pointer;
}

#redesRoda {
    display: flex;
}

#redesRoda div {
    background-color: white;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    align-content: center;
    transition: .5s;
}

#redesRoda div:hover {
    background-color: #7fad39;
    cursor: pointer;
    color: white;
}

#traçoFino {
    background-color: #c4c0c0;
    height: .2vh;
    margin-left: 25%;
    grid-row: 2;
    grid-column: 1/5;
    margin-top: 25px;
}

#copyright {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 420px;
}

#copyright span {
    color: blue;
}

#pagamentos {
    grid-row: 3;
    grid-column: 4;
    margin-top: 50px;
    margin-left: 80px;
}