body {
    margin: 0;
    font-family: "Cairo", sans-serif;
}

#barracinza {
    background-color: #f5f5f5;
    height: 47px;
    align-content: center;
    padding-left: 17.5%;
    display: flex;
    font-size: 14px;
}

ul {
    display: flex;
    list-style: none;
    line-height: 1;
}

#envelope {
    padding-right: 22px;
}

#Vertical {
    font-size: 20px;
    line-height: 15px;
    color: #d3d1d1;
    font-weight: 100;
    padding-right: 22px;
}

#social {
    line-height: 42px;
    padding-left: 430px;
    display: flex;
}

#facebook {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#twitter {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#linkedin {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#pinterest {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

.Vertical2 {
    font-size: 20px;
    line-height: 40px;
    color: #d3d1d1;
    font-weight: 100;
    padding-right: 22px;
    padding-left: 12px;
}

#Linguagem {
    display: inline-flex;
    line-height: 45px;

}

#bandeira {
    padding-right: 12px;
}

#baixo {
    padding-left: 8px;
    font-size: 12px;
}

#Linguagem:hover {
    cursor: pointer;
    transition: 1s;
}

#torso {
    line-height: 42px;
    font-size: 13px;
    padding-right: 12px;
}

#Login {
    line-height: 44px;
}

#espaço {
    width: 20%;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 70%;
    right: 80%;
}

#Linguagem:hover #dropdown-content {
    display: block;
    color: white;
    background-color: black;
}
#main{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1.5fr 1.3fr 1.4fr 1fr 1.3fr 1.3fr ;
    grid-template-rows: 80px 80px 431px 300px ;

}
#sub {
    padding-top: 18px;
    display: flex;
    line-height: 3;
    grid-column: 2/6;
}

.paginas{
    font-weight: bold;
}
.paginas:hover{
    color: #7fad39;
    cursor: pointer;
}
#paginas{
    display: flex;
    width: 45%;
    grid-column: 3/4;
}
#home{
    margin-right: 5%;
}
#shop{
    margin-left: 5%;
    margin-right: 5%;
}
#pages{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}
#pages:hover{
    color: #7fad39;
}
.detalhes{
    transition: .3s;
}
.detalhes:hover{
    color: #7fad39;
}
#drop{
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    opacity: 0;
    padding: 0;
    z-index: -99;
    list-style: none;
    width: 340%;
    height: 120px;
    transition: .3s;
    top: 50px;
    padding: 5px 15px;
    font-weight: 500;
    line-height: 1.8;
}
#pages:hover #drop{
    opacity: 1;
    z-index: 21;
    top: 20px;
}
#blog{
    margin-left: 5%;
    margin-right: 5%;
}
#contact{
    margin-left: 5%;
    margin-right: 5%;
}
#espaço2{
    width: 300px;
}
#heart{
    display: flex;
    height: 40px;
    line-height: 3;
    padding-right: 12px;    
}
#salvo{
    line-height: 1;
    margin-top: 30%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #7fad39;
    height: 15px;
    width: 15px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}
#coracao{
    font-size: 18px;
}
#bag{
    display: flex;
    height: 40px;
    line-height: 3;
    padding-right: 12px;
}
#salvo2{
    line-height: 1;
    margin-top: 30%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #7fad39;
    height: 15px;
    width: 15px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}
#saco{
    font-size: 18px;
}
#valor1{
    display: flex;
}
#valor{
    font-weight: bold;
}

#menuV{
    background-color: #7fad39;
    width: 79%;
    height: 50px;
    color: white;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2/4;
    align-content: center;
}
#baixo2{
    font-size: 12px;
}
#espaço3{
    width: 17%;
}
#menuVerde{
    position: relative;
}

#barra{
    padding-right: 6%;
}
#visivelLat{
    padding-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
}
#menuInv{
    position: absolute;
    border: rgba(170, 167, 167, 0.726) 1px solid;
    line-height: 2.4;
    height: 425px;
    width: 89.5%;
    padding-left: 10%;
    color: black;
    font-weight: 600;
    z-index: -99;
    top: 1px;
    opacity: 0;
    transition: 1s;
}
#sobe{
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border: solid;
    opacity: 0;
}
#sobe:hover{
    cursor: pointer;
}
#sobe:checked~#menuInv{
    opacity: 1;
    z-index: 99;
    top: 95%;
}
#menuVerde:hover{
    cursor: pointer;
}
#barraPesquisa{
    padding-left: 3%;
    width: 590px;
    height: 65%;
    grid-column: 3/5;
    display: flex;
    align-items: center;
    border: solid 1px rgba(82, 82, 82, 0.151);
}
.bold{
    font-weight: bold;
    color: black;
}
#All{
    font-size: 16px;
    padding-right: 6.05%;
}
#baixo3{
    font-size: 10px;
}
#busca{
    height: 40px;
    width: 308.7px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-family: "Cairo", sans-serif;
    outline: none;
    color: #b6b3b3;
}
#btn{
    background-color: #7fad39;
    width: 100px;
    height: 55px;
    color: white;
    text-align: center;
    align-content: center;
}
#btn a{
    color: white;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
}
#telefone{
    grid-column: 5;
    margin-left: 30%;
    background-color: #e6e3e3;
    width: 17%;
    height: 70%;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    color: #7fad39;
}
#numero{
    display: flex;
}
#num{
    margin-left: 6%;
}
#fosco{
    font-size: 14px;
    color: #4b4a4a;
}
#numeroemsi{
    font-size: 18px;
    font-weight: 900;
}
#banner{
    grid-column: 3/6;
    grid-row: 3/4;
    background-image: url(img/banner.jpg);
}
#textoB{
    padding-left: 80px;
    padding-top: 80px;
}
#Fruit{
    color: #7fad39;
    font-weight: 900;
}
#gigante{
    font-size: 46px;
    font-weight: 900;
    line-height: 1.2;
}
#subT{
    color: #6f6f6f;
}
#btn2{
    background-color: #7fad39;
    width: 140px;
    height: 40px;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: 800;
}
#baseL{
    grid-row: 4;
    grid-column: 1;
    text-align: end;
    align-content: center;
    margin-right: 5%;
}
#lateral{
    border: 1px solid #6f6f6f;
    margin-left: 92%;
    padding-right: 7px;
    height: 60px;
    align-content: center;
}
#lateral2{
    border: 1px solid #6f6f6f;
    margin-right: 92%;
    padding-left: 7px;
    height: 60px;
    align-content: center;
}
#lateral:hover{
    cursor: pointer;
}
#lateral2:hover{
    cursor: pointer;
}
#baseL2{
    grid-row: 4;
    grid-column: 6;
    text-align: start;
    align-content: center;
    margin-right: 5%;
}
#produto1{
    margin-top: 10%;
    background-image: url(img/cat-2.jpg);
    background-repeat: no-repeat;
    grid-column: 2;
    text-align: center;
    align-content: end;
}
.produto1{
    background-color: white;
    height: 40px;
    width: 70%;
    margin-bottom: 7%;
    margin-left: 10%;
    font-weight: 700;
    font-size: 18px;
}
.produto{
    background-color: white;
    height: 40px;
    width: 80%;
    margin-bottom: 7%;
    margin-left: 17%;
    font-weight: 700;
    font-size: 18px;
}
#produto2{
    margin-top: 10%;
    background-image: url(img/cat-3.jpg);
    background-repeat: no-repeat;
    grid-column: 3;
    text-align: center;
    align-content: end;
}
.produto2{
    background-color: white;
    height: 40px;
    width: 60%;
    margin-bottom: 7%;
    margin-left: 10%;
    font-weight: 700;
    font-size: 18px;
}
#produto3{
    margin-top: 15%;
    background-image: url(img/cat-4.jpg);
    background-repeat: no-repeat;
    grid-column: 4;
    text-align: center;
    align-content: end;
}
.produto3{
    background-color: white;
    height: 40px;
    width: 80%;
    margin-bottom: 7%;
    margin-left: 10%;
    font-weight: 700;
    font-size: 18px;
}
#produto4{
    margin-left: 9%;
    margin-top: 10%;
    background-image: url(img/cat-5.jpg);
    background-repeat: no-repeat;
    grid-column: 5;
    text-align: center;
    align-content: end;
}
.produto4{
    background-color: white;
    height: 40px;
    width: 75%;
    margin-bottom: 7%;
    margin-left: 10%;
    font-weight: 700;
    font-size: 18px;
}
#Featured{
    border: 1px solid;
    height: 80vh;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.3fr ;
    grid-template-rows: 100px 80px 400px 400px 600px;
}
#TituFeat{
    grid-column: 1/7;
    text-align: center;
    align-content: center;
    font-size: 36px;
    font-weight: 700;
}
.traçoVerde{
    background-color: #7fad39;
    margin-left: 48%;
    margin-right: 47%;
    height: 5px;
}
#tipos{
    grid-column: 3/5;
    grid-row: 2;
    text-align: center;
    font-size: 16px;
}

#tipos ul{
    padding: 0;
    margin-left: 43px;
}
#tipos ul li{
    margin-left: 40px;
}
#tipos ul li:hover{
    cursor: pointer;
}
#traço1{
    margin-top: 0;
    margin-left: 12%;
    margin-right: 84%;
    height: 2px;
}
#produto01{
    background-image: url(img/cat-5.jpg);
    background-repeat:no-repeat ;
    background-position-x: 50%;
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    align-content: end;
    margin-right: 20%;
    margin-bottom: 60px;
    position: relative;
}
#produto02{
    background-image: url(img/feature-2.jpg);
    background-position-x: 50%;
    grid-row: 3;
    grid-column: 3;
    background-repeat:no-repeat ;
    text-align: center;
    align-content: end;
    margin-right: 25%;
    position: relative;
    margin-bottom: 60px;
}
#produto03{
    background-image: url(img/feature-3.jpg);
    background-position-x: 50%;
    grid-row: 3;
    grid-column: 4;
    background-repeat:no-repeat ;
    text-align: center;
    align-content: end;
    margin-right: 25%;
    position: relative;
    margin-bottom: 60px;
}
#produto04{
    background-image: url(img/feature-4.jpg);
    background-position-x: 50%;
    grid-row: 3;
    grid-column: 5;
    background-repeat:no-repeat ;
    text-align: center;
    align-content: end;
    margin-right: 25%;
    position: relative;
    margin-bottom: 60px;
}
.hoverGira {
    position: absolute;
    top: 98%;
    z-index: -99;
    transition: .4s;
    opacity: 0;
}
#produto01:hover .hoverGira{
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
.hoverGira li{
    background-color:aliceblue;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;   
    align-content: center;

}
#produto02:hover .hoverGira{
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto03:hover .hoverGira{
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
#produto04:hover .hoverGira{
    z-index: 100;
    transform: translateY(-400%);
    opacity: 1;
}
.hoverGira li:hover{
    background-color: #7fad39;
    color: white;
}
.hoverGira  li:hover  i{
    transform: rotate(360deg);
}
.hoverGira li i{
    transition: .3s;
}